packages:
    yum:
        freetype-devel: []
        libjpeg-turbo-devel: []
        libpng-devel: []

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: config/wsgi/prod_aws_eb.py

container_commands:
    01_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'